body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: hsl(234, 29%, 20%);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
  list-style: circle outside url("assets/images/icon-list.svg");
}

ul li {
  margin-bottom: 16px;
  padding-left: 12px;
}

label {
  font-weight: 700;
  font-size: 0.75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
