body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: hsl(234, 29%, 20%);
  background-color: hsl(234, 29%, 20%);
}

main {
  background-color: hsl(0, 0%, 100%);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

ul {
  list-style-type: none;
  list-style: circle outside url("assets/images/icon-list.svg");
}

ul li {
  margin-bottom: 16px;
  padding-left: 12px;
}

label {
  font-weight: 700;
  font-size: 0.75rem;
}

.feedback {
  float: right;
  font-weight: 700;
  font-size: 0.75rem;
  color: hsl(4, 100%, 67%);
  display: none;
}

.success-message span {
  font-weight: 700;
}

.modal-body h2 {
  font-size: 2rem;
}

.modal-footer {
  border-top: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  body,
  html {
    display: grid;
    place-items: center;
    align-content: center;
  }

  main {
    width: max-content;
    height: max-content;
    padding: 2% 0;
    border-radius: 36px;
  }

  input[type="email"]:hover,
  .close-button:hover,
  input[type="button"]:hover {
    cursor: pointer;
  }

  .close-button:hover,
  input[type="button"]:hover {
    background-color: hsl(4, 100%, 67%);
    border-color: hsl(4, 100%, 67%);
  }

  .modal {
    align-self: center;
    background-color: hsl(235, 18%, 26%);
  }
}
